@* <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EShop.styles.css" asp-append-version="true" />
</head>
<body style="direction:rtl;">
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">EShop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                </ul>
            </div>
<<<<<<< HEAD
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
             @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - EShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
=======
>>>>>>> b977574f8e9fbfee418cd1fdfc5cddea0470f4f4
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - EShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
 *@
<!DOCTYPE html>
<html lang="en">
    
<head>
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewData["Title"] - EShop</title>

        <!-- Favicon -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="shortcut icon" href="~/~/assets/ico/favicon.ico">

        <!-- CSS Global -->
        <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">         
        <link href="~/assets/plugins/bootstrap/css/bootstrap-rtl.min.css" rel="stylesheet">
        <link href="~/assets/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
        <link href="~/assets/plugins/fontawesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="~/assets/plugins/prettyphoto/css/prettyPhoto.css" rel="stylesheet">
        <link href="~/assets/plugins/owl-carousel2/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="~/assets/plugins/owl-carousel2/assets/owl.theme.default.min.css" rel="stylesheet">
        <link href="~/assets/plugins/animate/animate.min.css" rel="stylesheet">

        <!-- Theme CSS -->
        <link href="~/assets/css/theme.css" rel="stylesheet">
        <link href="~/assets/css/theme-green-2.css" rel="stylesheet" id="theme-config-link">

        <!-- Head Libs -->
        <script src="~/assets/plugins/modernizr.custom.js"></script>

        <!--[if lt IE 9]>
        <script src="~/assets/plugins/iesupport/html5shiv.js"></script>
        <script src="~/assets/plugins/iesupport/respond.min.js"></script>
        <![endif]-->
    </head>
    <body id="home" class="wide">
        <!-- PRELOADER -->
        <div id="preloader">
            <div id="preloader-status">
                <div class="spinner">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
                <div id="preloader-title">بارگیری</div>
            </div>
        </div>
        <!-- /PRELOADER -->

        <!-- WRAPPER -->
        <div class="wrapper">

            <!-- Popup: Shopping cart items -->
            <div class="modal fade popup-cart" id="popup-cart" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="container">
                        <div class="cart-items">
                            <div class="cart-items-inner">
                                <div class="media">
                                    <a class="pull-right" href="#"><img class="media-object item-image" src="~/assets/img/preview/shop/order-1s.jpg" alt=""></a>
                                    <p class="pull-left item-price">$۴۵۰.۰۰</p>
                                    <div class="media-body">
                                        <h4 class="media-heading item-title"><a href="#">محصولات الکترونیکی ۱X</a></h4>
                                        <p class="item-desc">لورم ایپسوم متن</p>
                                    </div>
                                </div>
                                <div class="media">
                                    <p class="pull-left item-price">$۴۵۰.۰۰</p>
                                    <div class="media-body">
                                        <h4 class="media-heading item-title summary">جمع جزء</h4>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-body">
                                        <div>
                                            <a href="#" class="btn btn-theme btn-theme-dark" data-dismiss="modal">بستن</a><!--
                                            --><a href="shopping-cart.html" class="btn btn-theme btn-theme-transparent btn-call-checkout">پرداخت</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Popup: Shopping cart items -->

            <!-- Header top bar -->
            <div class="top-bar">
                <div class="container">
                    <div class="top-bar-left">
                        <ul class="list-inline">
                            <li class="icon-user"><a href="login.html"><img src="~/assets/img/icon-1.png" alt=""/> <span>ورود</span></a></li>
                            <li class="icon-form"><a href="login.html"><img src="~/assets/img/icon-2.png" alt=""/> <span>یک عضو نیستید؟ <span class="colored">ثبت نام</span></span></a></li>
                            <li><a href="mailto:tahlildadehins@gmail.com"><i class="fa fa-envelope"></i> <span>tahlildadehins@gmail.com</span></a></li>
                        </ul>
                    </div>
                    <div class="top-bar-right">
                        <ul class="list-inline">
                            <li class="hidden-xs"><a href="about.html">درباره</a></li>
                            <li class="hidden-xs"><a href="blog.html">وبلاگ</a></li>                             
                            <li class="hidden-xs"><a href="accountinformation.html">حساب من</a></li>
                            <li class="hidden-xs"><a href="contact.html">تماس</a></li>
                            <li class="hidden-xs"><a href="faq.html">سؤالات متداول</a></li>
                            <li class="hidden-xs"><a href="wishlist.html">لیست دلخواه من</a></li>
                            <li class="dropdown currency">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">€ EURO<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="dropdown-menu">
                                    <li><a href="#">€ EURO</a></li>
                                    <li><a href="#">€ EURO</a></li>
                                    <li><a href="#">€ EURO</a></li>
                                </ul>
                            </li>
                            <li class="dropdown flags">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="~/assets/img/flag.gif" alt=""/> Eng<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="dropdown-menu">
                                    <li><a href="#"><img src="~/assets/img/flag.gif" alt=""/> Eng</a></li>
                                    <li><a href="#"><img src="~/assets/img/flag.gif" alt=""/> Eng</a></li>
                                    <li><a href="#"><img src="~/assets/img/flag.gif" alt=""/> Eng</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /Header top bar -->

            <!-- HEADER -->
            <header class="header fixed">
                <div class="header-wrapper">
                    <div class="container">

                        <!-- Logo -->
                        <div class="logo">
                            <a href="index-2.html"><img src="~/assets/img/logo-bella-shop.png" alt="Bella Shop"/></a>
                        </div>
                        <!-- /Logo -->

                        <!-- Header search -->
                        <div class="header-search">
                            <input class="form-control" type="text" placeholder=" به دنبال چه هستید؟"/>
                            <button><i class="fa fa-search"></i></button>
                        </div>
                        <!-- /Header search -->

                        <!-- Header shopping cart -->
                        <div class="header-cart">
                            <div class="cart-wrapper">
                                <a href="wishlist.html" class="btn btn-theme-transparent hidden-xs hidden-sm"><i class="fa fa-heart"></i></a>
                                <a href="compare-products.html" class="btn btn-theme-transparent hidden-xs hidden-sm"><i class="fa fa-exchange"></i></a>
                                <a href="#" class="btn btn-theme-transparent" data-toggle="modal" data-target="#popup-cart"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs"> ۰ آیتم - $۰.۰۰ </span> <i class="fa fa-angle-down"></i></a>
                                <!-- Mobile menu toggle button -->
                                <a href="#" class="menu-toggle btn btn-theme-transparent"><i class="fa fa-bars"></i></a>
                                <!-- /Mobile menu toggle button -->
                            </div>
                        </div>
                        <!-- Header shopping cart -->

                    </div>
                </div>
                <div class="navigation-wrapper">
                    <div class="container">
                        <!-- Navigation -->
                        <nav class="navigation closed clearfix">
                            <a href="#" class="menu-toggle-close btn"><i class="fa fa-times"></i></a>
                            <ul class="nav sf-menu">
                                <li class="active"><a href="index-2.html">صفحه اصلی</a>
                                    <ul>
                                        <li><a href="index-2.html">صفحه اصلی ۱</a></li>
                                        <li><a href="index-3.html">صفحه اصلی ۲</a></li>
                                        <li><a href="index-4.html">صفحه اصلی ۳</a></li>
                                        <li><a href="index-5.html">صفحه اصلی ۴</a></li>
                                        <li><a href="index-6.html">صفحه اصلی ۵</a></li>
                                        <li><a href="index-7.html">صفحه اصلی ۶</a></li>
                                        <li><a href="index-8.html">صفحه اصلی ۷</a></li>
                                        <li><a href="index-9.html">صفحه اصلی ۸</a></li>
                                        <li><a href="index-10.html">صفحه اصلی ۹</a></li>
                                    </ul>
                                </li>
                                <li><a href="category.html">فروشگاه</a>
                                    <ul>
                                        <li><a href="category.html">فروشگاه سمت چپ</a></li>
                                        <li><a href="category-right.html">فروشگاه سمت راست</a></li>
                                        <li><a href="category-list.html"> فهرست فروشگاه</a></li>
                                        <li><a href="product-details.html">صفحه محصول</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">وبلاگ</a>
                                    <ul>
                                        <li><a href="blog.html">وبلاگ سمت چپ </a></li>
                                        <li><a href="blog-right.html">وبلاگ سمت راست</a></li>
                                        <li><a href="blog-post.html">وبلاگ پست تنها</a></li>
                                    </ul>
                                </li>
                                <li><a href="portfolio.html">نمونه کارها</a>
                                    <ul>
                                        <li><a href="portfolio.html">نمونه کارها ۳ ستونه</a></li>
                                        <li><a href="portfolio-4col.html">نمونه کارها ۴ ستونه</a></li>
                                        <li><a href="portfolio-alt.html">نمونه کارهای جایگزین</a></li>
                                        <li><a href="portfolio-single.html">نمونه کارهای تنها</a></li>
                                    </ul>
                                </li>
                                <li class="megamenu"><a href="#">ویژگی ها</a>
                                    <ul>
                                        <li class="row">
                                            <div class="col-md-2">
                                                <h4 class="block-title"><span> موبایل و لوازم جانبی</span></h4>
                                                <ul>
                                                    <li><a href="#">موبایل</a></li>
                                                    <li><a href="#">هدفون موبایل</a></li>
                                                    <li><a href="#">گارد صفحه نمایش موبایل</a></li>
                                                    <li><a href="#">روکش موبایل و کاور</a></li>
                                                    <li><a href="#">بلندگوهای تبلت</a></li>
                                                    <li><a href="#">شارژر</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-2">
                                                <h4 class="block-title"><span> کامپیوتر</span></h4>
                                                <ul>
                                                    <li><a href="#">هدفون</a></li>
                                                    <li><a href="#">لپ تاپ</a></li>
                                                    <li><a href="#">ماوس</a></li>
                                                    <li><a href="#"> پوسته لپ تاپ و عکس برگردان</a></li>
                                                    <li><a href="#">کیبورد</a></li>
                                                    <li><a href="#">پردازنده کولر</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-2">
                                                <h4 class="block-title"><span>صفحات</span></h4>
                                                <ul>
                                                    <li><a href="shortcodes.html"><strong>کد کوتاه</strong></a></li>
                                                    <li><a href="typography.html"><strong>تایپوگرافی</strong></a></li>
                                                    <li><a href="coming-soon.html"><strong>به زودی</strong></a></li>
                                                    <li><a href="error-page.html"><strong>صفحه ۴۰۴</strong></a></li>
                                                    <li><a href="about.html"><strong>درباره</strong></a></li>
                                                    <li><a href="login.html"><strong>ورود</strong></a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-2 visible-xs">
                                                <h4 class="block-title"><span>حساب من</span></h4>
                                                <ul>
                                                    <li><a href="accountinformation.html"> اطلاعات حساب </a></li>
                                                    <li><a href="myaccount.html">حساب من</a></li>                                        
                                                    <li><a href="cng-pw.html">تغییر رمز عبور</a></li>
                                                    <li><a href="address-book.html">کتاب آدرس</a></li>
                                                    <li><a href="order-history.html">تاریخچه سفارش</a></li>
                                                    <li><a href="review-rating.html">بررسی و رتبه بندی</a></li>
                                                    <li><a href="return.html">برگشت درخواست</a></li>
                                                    <li><a href="newsletter.html">خبرنامه</a></li>
                                                    <li><a href="myaccount-leftsidebar.html">نوار سمت چپ</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-3">
                                                <h4 class="block-title"><span>استایل سربرگ</span></h4>
                                                <ul>
                                                    <li><a href="index-style-1.html"><strong>استایل سربرگ ۱</strong></a></li>
                                                    <li><a href="index-style-2.html"><strong>استایل سربرگ ۲</strong></a></li>
                                                    <li><a href="index-style-3.html"><strong>استایل سربرگ ۳</strong></a></li>
                                                    <li><a href="index-style-4.html"><strong>استایل سربرگ ۴</strong></a></li>
                                                    <li><a href="index-style-5.html"><strong>استایل سربرگ ۵</strong></a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="product-list">
                                                    <div class="media">
                                                        <a class="pull-right media-link" href="#">
                                                            <img class="media-object" src="~/assets/img/preview/shop/top-sellers-2.jpg" alt="">
                                                            <i class="fa fa-plus"></i>
                                                        </a>
                                                        <div class="media-body">
                                                            <h4 class="media-heading"><a href="#">سربرگ محصولات الکترونیکی</a></h4>
                                                            <div class="rating">
                                                                <span class="star"></span><!--
                                                                --><span class="star active"></span><!--
                                                                --><span class="star active"></span><!--
                                                                --><span class="star active"></span><!--
                                                                --><span class="star active"></span>
                                                            </div>
                                                            <div class="price"><ins>$۴۰۰.۰۰</ins> <del>$۴۲۵.۰۰</del></div>
                                                        </div>
                                                    </div>
                                                    <div class="media">
                                                        <a class="pull-right media-link" href="#">
                                                            <img class="media-object" src="~/assets/img/preview/shop/top-sellers-3.jpg" alt="">
                                                            <i class="fa fa-plus"></i>
                                                        </a>
                                                        <div class="media-body">
                                                            <h4 class="media-heading"><a href="#">سربرگ محصولات الکترونیکی</a></h4>
                                                            <div class="rating">
                                                                <span class="star"></span><!--
                                                                --><span class="star active"></span><!--
                                                                --><span class="star active"></span><!--
                                                                --><span class="star active"></span><!--
                                                                --><span class="star active"></span>
                                                            </div>
                                                            <div class="price"><ins>$۴۰۰.۰۰</ins> <del>$۴۲۵.۰۰</del></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="category.html"> کامپیوتر</a></li>
                                <li><a href="category.html">موبایل و لوازم جانبی</a></li>
                                <li><a href="category.html"> سرگرمی خانگی</a></li>
                                <li><a href="category.html">جدید</a></li>
                                <li class="sale"><a href="category.html">فروش</a></li>
                                <li><a href="contact.html">تماس</a></li>
                            </ul>
                        </nav>
                        <!-- /Navigation -->
                    </div>
                </div>
            </header>
            <!-- /HEADER -->

            <!-- CONTENT AREA -->
            <div class="content-area">

             
                @RenderBody()
            </div>
            <!-- /CONTENT AREA -->

            <!-- FOOTER -->
            <footer class="footer">
                <div class="footer-widgets">
                    <div class="container">
                        <div class="row">

                            <div class="col-md-3">
                                <div class="widget">
                                    <h4 class="widget-title">درباره ما</h4>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                                    <ul class="social-icons">
                                        <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="widget">
                                    <h4 class="widget-title">خبر نامه</h4>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم.</p>
                                    <form action="#">
                                        <div class="form-group">
                                            <input class="form-control" type="text" placeholder=" ایمیل خود را وارد کنید و $ ۱۰ نقدی دریافت کنید"/>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-theme btn-theme-transparent">اشتراک</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="widget widget-categories">
                                    <h4 class="widget-title">اطلاعات</h4>
                                    <ul>
                                        <li><a href="#">درباره ما</a></li>
                                        <li><a href="#">اطلاعات تحویل</a></li>
                                        <li><a href="#">تماس با ما</a></li>
                                        <li><a href="#">شرایط و ضوابط</a></li>
                                        <li><a href="#">حریم خصوصی</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="widget widget-tag-cloud">
                                    <h4 class="widget-title">برچسب های آیتم</h4>
                                    <ul>
                                        <li><a href="#">ابزارک ها</a></li>
                                        <li><a href="#">الکترونیکی</a></li>
                                        <li><a href="#">فروشندگان برتر</a></li>
                                        <li><a href="#">تجارت الکترونیک</a></li>
                                        <li><a href="#">تخفیف های ویژه</a></li>
                                        <li><a href="#">عرضه کننده</a></li>
                                        <li><a href="#">فروشگاه</a></li>
                                        <li><a href="#">قالب</a></li>
                                        <li><a href="#">وبسایت</a></li>
                                        <li><a href="#">ایزامرکن</a></li>
                                        <li><a href="#">تم فارست</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="footer-meta">
                    <div class="container">
                        <div class="row">

                            <div class="col-sm-6">
                                <div class="copyright">کپی رایت 2015 فروشگاه بلا   |   همه حقوق محفوظ است |   طراحی شده توسط تحلیل داده</div>
                            </div>
                            <div class="col-sm-6">
                                <div class="payments">
                                    <ul>
                                        <li><img src="~/assets/img/preview/payments/visa.jpg" alt=""/></li>
                                        <li><img src="~/assets/img/preview/payments/mastercard.jpg" alt=""/></li>
                                        <li><img src="~/assets/img/preview/payments/paypal.jpg" alt=""/></li>
                                        <li><img src="~/assets/img/preview/payments/american-express.jpg" alt=""/></li>
                                        <li><img src="~/assets/img/preview/payments/visa-electron.jpg" alt=""/></li>
                                        <li><img src="~/assets/img/preview/payments/maestro.jpg" alt=""/></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </footer>
            <!-- /FOOTER -->

            <div id="to-top" class="to-top"><i class="fa fa-angle-up"></i></div>

        </div>
        <!-- /WRAPPER -->

        <!-- JS Global -->
        <script src="~/assets/plugins/jquery/jquery-1.11.1.min.js"></script>
        <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/assets/plugins/bootstrap-select/js/bootstrap-select.min.js"></script>
        <script src="~/assets/plugins/superfish/js/superfish.min.js"></script>
        <script src="~/assets/plugins/prettyphoto/js/jquery.prettyPhoto.js"></script>
        <script src="~/assets/plugins/owl-carousel2/owl.carousel.min.js"></script>
        <script src="~/assets/plugins/jquery.sticky.min.js"></script>
        <script src="~/assets/plugins/jquery.easing.min.js"></script>
        <script src="~/assets/plugins/jquery.smoothscroll.min.js"></script>
        <script src="~/assets/plugins/smooth-scrollbar.min.js"></script>

        <!-- JS Page Level -->
        <script src="~/assets/js/theme.js"></script>

        <!--[if (gte IE 9)|!(IE)]><!-->
        <script src="~/assets/plugins/jquery.cookie.js"></script>
        <script src="~/assets/js/theme-config.js"></script>
        <!--<![endif]-->
    @await RenderSectionAsync("Scripts", required: false)
    </body>

<!-- Mirrored from eazzy.me/html/bella-electronics-rtl/ by HTTrack Website Copier/3.x [XR&CO'2013], Sat, 16 Jan 2016 11:34:49 GMT -->
</html>
